@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&display=swap');

/*Algemeen*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3, h4{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: black;
}

p {
    Font-Family: 'Open Sans', Sans-Serif;
    color: black;
}

.nameR {
    font-weight: bold;
}

main {
    min-height: 90%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.glass { /*Vormgeving glasplaat*/
    background: white;
    min-height: 80%;
    width: 80%;
    background: linear-gradient(to right bottom, 
    rgba(255, 255, 255, 0.7), 
    rgba(255, 255, 255, 0.3));
    border-radius: 15px;
}


.main-grid > div { /*Vormgeving divs in main container*/
    background: linear-gradient(to right bottom, 
    rgba(255, 255, 255, 0.7), 
    rgba(255, 255, 255, 0.3));
    padding: 20px;
    border-radius: 15px;

}


    






/*Mobile*/
@media only screen and (max-width: 600px) {
    body {
        background: linear-gradient(to right top, orange, pink);
    }

    .main-grid {
        display: grid;
        gap: 10px;
        padding: 10px;;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'menu'
        'left'
        'right'
        'footer';
    }

}


/*Tablet*/
@media only screen and (min-width: 600px) and (max-width: 1023px) {
    body {
        background: linear-gradient(to right top, #65dfc9, pink);
    }

    .main-grid { /*positie van divs, tablet size*/
        display: grid;
        grid-gap: 10px;
        padding: 10px;
        grid-template-areas:
        'menu menu header header header header'
        'menu menu main main right right'
        'footer footer footer footer footer footer';
    }
    
    .header { 
        grid-area: header;
        max-height: 35%;
        text-align  : center;
    
    }
    
    .left-profile{ 
        grid-area: menu;
        text-align  : center;
    
        
    }
    .left { 
        grid-area: main;
        margin-top: -41%;
    
    }
    
    .right { 
        grid-area: right;
        margin-top: -40%; 
    
    }
    .map { grid-area: footer; }
}


/* Laptop (kleine desktop)*/
@media only screen and (min-width: 1024px) and (max-width: 1598px) {

    body {
        background: linear-gradient(to right top, #ada7ff, #bbadff);
    }

    .main-grid { /*positie van divs, laptop size*/
        display: grid;
        grid-gap: 10px;
        padding: 10px;
        grid-template-areas:
        'menu menu header header header header'
        'menu menu main main right right'
        'menu menu footer footer footer footer';
    }
    
    .header { 
        grid-area: header;
        max-height: 35%;
        text-align  : center;
    
    }
    
    .left-profile{ 
        grid-area: menu;
        text-align  : center;
    
        
    }
    .left { 
        grid-area: main;
        margin-top: -41%;
    
    }
    
    .right { 
        grid-area: right;
        margin-top: -40%; 
    
    }
    .map { grid-area: footer; }
}

/*Grote desktop*/
@media only screen and (min-width: 1599px) {
    body {
        background: linear-gradient(to right top, purple, pink)
    }

    .main-grid { /*positie van divs, desktop size*/
        display: grid;
        grid-gap: 10px;
        padding: 10px;
        grid-template-areas:
        'header header header header header header'
        'menu menu main main right right'
        'footer footer footer footer footer footer';

        justify-items: stretch;

    }

    .header { 
        grid-area: header;
        height: 35%;
        text-align : center;
    
    }
    
    .left-profile{ 
        grid-area: menu;
        text-align  : center;
        /*margin-top: -47%;*/
    
        
    }
    .left { 
        grid-area: main;
        /*margin-top: -55%;*/
    
    }
    
    .right { 
        grid-area: right;
        /*margin-top: -55%;*/
    
    }
    .map { grid-area: footer; }

}